* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Override the boostrap css */
label {
    margin-bottom: 0px !important;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-size: 13px;
}

.grid {
    display: grid;
    grid-template-columns: 230px auto; /* Side bar sze, map size */
    grid-template-rows: 55px auto 70px; /* Header size, map and side bar size, footer size */
    grid-template-areas:
            "header header"
            "sidebar map"
            "footer footer";    
    width: 100vw;
    height: 100vh;
}

.user-input {
    margin: 10px 0 10px 0;
}