#footer {
    z-index: 3; /* To avoid box shadow overflow from or to other components */
    box-shadow: 230px -3px 8px 0 rgba(0, 0, 0, 0.2); /* 230px: size of the sidebar */
    background-color: CornflowerBlue;
    /* padding: 10px; */
    grid-area: footer;        
}
