#sidebar {
    z-index: 2; /* To avoid box shadow overflow from or to other components */
    box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.2);

    padding: 10px;
    background-color: #C7C7C7;
    grid-area: sidebar;
}

#Combobox1 {
    border: 1px #A9A9A9 solid;
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-size: 13px;
}

/* .radiotechnology */

#side-bar-map-list {
    margin: 10px 0px 10px 0px;    
}